{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<html>
<head>
     <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col">
            <div class="card">
                <div class="row card-body">
                   <div class="col">
                    <h1 class="display-2 mb-4">Exam Security.<br class="d-none d-md-inline"> Done Right.</h1>
                    <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
                    <p class="lead mb-4 text-muted">Online proctoring to advance your learning and testing program. Validate knowledge. Reduce costs. Expand access.</p>
                    </div>
                    <div class="col text-right">
                        <img src="{{ url_for('static', filename='myproctoraiindex.gif') }}"/>
                    </div>
                                </div>
            </div>
        </div>
    </div>
    </div>

    <section class="content content-bg">
      <div class="container">
      <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class="text-center mb-0">The MyProctor.ai Learning Integrity Platform</h2>
      </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6">
        <div id="platform-exam_proctoring" class="platform-animation">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_omszt4va.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
        <h1 class="display-2 mb-4">Our Mission</h1>
        <p class="lead mb-4 text-muted">Making green exam assessment reach last mile across globe.</p>
        </div>
        </div>

        <div class="row align-items-center my-large">
          <div class="col-md-6 order-md-2 offset-lg-1 ">
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json"  background="transparent"  speed="1"  style="width: 600px; height: 500px;"  loop  autoplay></lottie-player>
          </div>
          <div class="col-md-6 col-lg-5 order-md-1">
          <h1 class="display-2 mb-4">Our Vision</h1>
          <p class="lead mb-4 text-muted">We believe “Future of world starts in a Classroom” Our Vision is to invent & develop secure and future ready Ed-tech solutions featuring simple functionality.</p>
          </div>
          </div>

      <div class="row align-items-center my-large">
      <div class="col-md-6">
      <div id="platform-exam_proctoring" class="platform-animation">
        <img class="mb-3 mt-3" src="/static/admin-dashboard.png" alt="">
      </div>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
      <h1 class="display-2 mb-4">Exam Proctoring</h1>
      <p class="lead mb-4 text-muted">An all-inclusive remote monitoring solution, including Image verification and computer restrictions.
      <ul class="feature-list mt-4">
      <li>Automated Proctoring</li>
      <li>Live Proctoring</li>
      <li>Professional Review</li>
      </ul>
      </p>
      </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
        <img class="mb-3 mt-3" src="/static/feature-platform-2.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 order-md-1">
        <h1 class="display-2 mb-4">Content Protection</h1>
        <p class="lead mb-4 text-muted">MyProctor.ai ensures exam integrity by preventing internet navigation, use of mobile devices, screen captures, printing or sharing.</p>
        <ul class="feature-list mt-4">
        <li>Distribution Prevention</li>
        <li>Copy/Print/Download Restrictions</li>
        </ul>
        </div>
        </div>


      <div class="row align-items-center my-large">
        <div class="col-md-6">
        <img class="mb-3 mt-3" src="/static/feature-content-protection-2.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
        <h1 class="display-2 mb-4">Distribution Prevention</h1>
        <p class="lead mb-4 text-muted">MyProctor.ai prevents test distribution through a host of adjustable settings to restrict the ability to copy and paste, print, download or make screen captures while automatically clearing caches and disabling extensions during the assessment to keep exam content secure.</p>
        </div>
        </div>

        <div class="row align-items-center my-large">
          <div class="col-md-6 order-md-2 offset-lg-1 ">
            <img class="mb-3 mt-3" src="/static/id-verification.png" alt="">
          </div>
          <div class="col-md-6 col-lg-5 order-md-1">
          <h1 class="display-2 mb-4">Image Verification</h1>
          <p class="lead mb-4 text-muted">Identification is captured, analyzed and verified, then only allowed to login.</p>
          <ul class="feature-list mt-4">
          <li>Advanced facial detection technology</li>
          <li>Automated Verification</li>
          <li>Live Image Verification</li>
          </ul>
          </div>
          </div>
      
      <div class="row align-items-center">
      <div class="col-md-6">
      <div id="platform-data_analytics" class="platform-animation mb-3 mt-3">
      <img class="mb-3 mt-3" src="/static/Aggregate-Exam-Data.png" alt="">
      </div>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
      <h1 class="display-2 mb-4">Data Analytics</h1>
      <p class="lead mb-4 text-muted">Instant, objective data is immediately available after every assessment, with parameters set by instructors or administrators.</p>
      <ul class="feature-list mt-4">
      <li>Administrative Dashboard</li>
      <li>Student Monitoring</li>
      <li>Aggregate Exam Data</li>
      </ul>
      </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
          <img class="mb-3 mt-3" src="/static/admin-dashboard-1.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 order-md-1">
        <h1 class="display-2 mb-4">Admin Dashboard</h1>
        <p class="lead mb-4 text-muted">Create global settings and usage reports that give you actionable information by department, school or institution. Filter activity and reporting by course, test-taker, or exam.</p>
        <p class="lead mb-4 text-muted">Manage exam parameters, computer requirements, account information, faculty controls, and Gradebook settings.</p>
        </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6">
          <div id="platform-professional_review" class="platform-animation mb-3 mt-3">
          </div>
          <img class="mb-3 mt-3" src="/static/professional-review.png" alt="">
          </div>
          <div class="col-md-6 col-lg-5 offset-lg-1">
          <h1 class="display-2 mb-4">Professional Review</h1>
          <p class="lead mb-4 text-muted">Our highly-trained experts are available to analyze exam proctoring for issues of academic dishonesty. We deliver detailed reporting same day, next day or in 3 days based on your needs.</p>
          </div>
          </div>


          <div class="row align-items-center my-large">
            <div class="col-md-6 order-md-2 offset-lg-1 ">
              <img class="" src="/static/actionable-information.png" alt="">
            </div>
            <div class="col-md-6 col-lg-5 order-md-1">
            <h1 class="display-2 mb-4">Actionable Information</h1>
            <p class="lead mb-4 text-muted">MyProctor.ai data analytics become instantly available after every assessment, and accumulate over time. This information is useful for quickly identifying unusual or suspicious behaviors that may indicate academic dishonesty.</p>
            <p class="lead mb-4 text-muted">By flagging test-takers who may need help, MyProctor.ai is a valuable tool for boosting retention and improving learning outcomes.</p>
            </div>
            </div>

            <div class="row align-items-center">
              <div class="col-md-6">
              <div id="platform-professional_review" class="platform-animation mb-3 mt-3">
              </div>
              <img class="mb-3 mt-3" src="/static/live-proctoring.png" alt="">
              </div>
              <div class="col-md-6 col-lg-5 offset-lg-1">
              <h1 class="display-2 mb-4">Live Proctoring</h1>
              <p class="lead mb-4 text-muted">It allows immediate intervention during an exam and provides full live reporting on demand.</p>
              </div>
              </div>

      </div>
      </section>      
<br>

<section class="py-5">
    <div class="container">
    <div class="card shadow bg-white text-secondary">
    <div class="card-body">
<div class="pt-5 pb-4 mb-3 border-top">
    <div class="container pb-2">
      <h2 class="text-center  mb-5 no-xs-margin-bottom">
        Verify The Authenticity of Your Candidates With Our 3-point Authentication System
      </h2>
      <div class="row  py-4">
        <div class="col-md-5 mt-5">
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/examcheck.png" alt="Candidate-enter-registration-details" class="center-block img img-responsive" style="height:45px;">
              
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-1 pl-0 text-bold">
                Candidate enter registration details (Customizable fields)
              </h4>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/candidateclickspic.png" alt="Candidate-clicks-his-picture" class="center-block img img-responsive" style="height:45px;">
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-2 pl-0 text-bold">
                Candidate clicks his picture
              </h4>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-xs-3">
              <img loading="lazy" src="/static/idverify.png" alt="Candidate-verifies-his-ID-proof" class="center-block img img-responsive" style="height:45px;">
  
            </div>
            <div class="col-xs-9 pl-0">
              <h4 class="mt-2 pl-0 text-bold">
                If Candidate face is verified then only it allow to give exam.
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
          
          <picture> 
            <img loading="lazy" src="/static/mettlverify.jpg" alt="Candidate-Authentication" class="img img-responsive"> 
          </picture>
        </div>
      </div>
    </div>
  </div>
    </div>
    </div>
    </div>
</section>

<section class="py-5">
  <div class="container">
  <div class="card shadow bg-white text-secondary">
  <div class="card-body">
  
  <div class="container">
  <div class="row">
  <div class="col-10 offset-1">
  <h1 class="text-center">MyProctor.ai is Best Suited For</h1><br>
  <div class="row  justify-content-center feature-container">
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/001-old-school.png" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Universities</h6>
  <p class="text-center">MyProctor.ai offers a superior proctored online exam experience for candidates and at the same time promote excellence and integrity for education programs.</p>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/i14.png" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">Assessment Providers</h6>
  <p class="text-center">Assessments are available anywhere anytime for candidates. Proview's cognitive proctoring technology protects the test and disables false positives.</p>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-md-4">
  <div class="container">
  <div class="row ">
  <div class="col-12">
  <p><img class="img-fluid services-feature-img" src="/static/i15.png" alt="Dedicated Account Team"></p>
  </div>
  <div class="col-12">
  <h6 class="text-center">E-Learning Programs</h6>
  <p class="text-center">Reduce your expenditure on test centers and inefficient manual proctoring. Integrate MyProctor.ai to your existing test engine or use MyProctor.ai secure test engine to deliver tests.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
</section>

<section class="py-5">
<div class="container">
<div class="card shadow bg-white text-secondary">
<div class="card-body">

<div class="container">
<div class="row">
<div class="col-10 offset-1">
<h1 class="text-center">From Global to Granular, See the Key Performance Indicators that Matter</h1>
<h3 class="text-center">Committed to Your Success</h3>
<div class="row  justify-content-center feature-container">

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i1.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Protect Your Credibility</h6>
<p class="text-center">Technology that Crushes Brick and Mortar Test Centers.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i2.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Save Money as You Grow</h6>
<p class="text-center">Remove the burden of costly physical infrastructure without sacrificing security.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i3.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Test Any Time, Anywhere</h6>
<p class="text-center">We stay up late so your test-takers have the freedom to test when it’s convenient from anywhere in the world.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i4.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Performance Insights</h6>
<p class="text-center">Track metrics and trends across all your exams and compare to industry benchmarks.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i5.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Exam Facilitator Dashboard</h6>
<p class="text-center">Review and inspect metrics for each individual exam.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src=/static/i6.png alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Incident Reports</h6>
<p class="text-center">Investigate a specific test-taker’s session and determine if action is needed.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i7.png" alt="Dedicated Account Team"></p>
</div>
<div class="col-12">
<h6 class="text-center">Dedicated Account Team</h6>
<p class="text-center">Every client and test admin gets a dedicated ProctorU team who answer questions and help with exam setup.</p>
</div>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i8.png" alt="Free Technical Support"></p>
</div>
<div class="col-12">
<h6 class="text-center">Free Technical Support</h6>
<p class="text-center">We offer free exam-related technical support 24/7/365 via phone, email, live chat, and remote support sessions. Exam facilitators also have their own hotline for quick help.</p>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i9.png" alt="Unmatched Scalability"></p>
</div>
<div class="col-12">
<h6 class="text-center">Unmatched Scalability</h6>
<p class="text-center">Securing millions of exams online each year, with the largest certified proctor workforce in the world.</p>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i10.png" alt="User Satisfaction"></p>
</div>
<div class="col-12">
<h6 class="text-center">User Satisfaction</h6>
<p class="text-center">Industry leading test-taker satisfaction.</p>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i11.png" alt="Unparalleled Uptime"></p>
</div>
<div class="col-12">
<h6 class="text-center">Unparalleled Uptime</h6>
<p class="text-center">24/7 access to scheduling, proctoring and reporting.</p>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-4">
<div class="container">
<div class="row ">
<div class="col-12">
<p><img class="img-fluid services-feature-img" src="/static/i12.png" alt="Technology"></p>
</div>
<div class="col-12">
<h6 class="text-center">Advanced Technology</h6>
<p class="text-center">We're dedicated to investing in the latest technologies as market needs evolve. </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
        </div>
    </div>
</div>
</section>

                <br>
      
                <section class="py-5">
                  <div class="container">
                  <div class="card shadow bg-white text-secondary">
                  <div class="card-body">

                    <div class="container">
                      <div class="row">
                      <div class="col-10 offset-1">
                      <h1 class="text-center">Our Tech Partners</h1><br>
                      <div class="row  justify-content-center feature-container">
                      
                      <div class="col-12 col-md-4">
                      <div class="container">
                      <div class="row ">
                      <div class="col-12">
                      <p><img class="img-fluid services-feature-img" src="/static/sphereenginelogo.png" alt="Dedicated Account Team"></p>
                      </div>
                      <div class="col-12">
                      <h6 class="text-center">Sphere Engine</h6>
                      </div>
                      </div>
                      </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row ">
                        <div class="col-12">
                        <p><img class="img-fluid services-feature-img" src="/static/256px-Vonage_Logo.png" alt="Dedicated Account Team"></p>
                        </div>
                        <div class="col-12">
                        <h6 class="text-center">Vonage Communication Services</h6>
                        </div>
                        </div>
                        </div>
                        </div>

                        <div class="col-12 col-md-4">
                          <div class="container">
                          <div class="row ">
                          <div class="col-12">
                          <p><img class="img-fluid services-feature-img" src="/static/Stripe wordmark - blurple_lg.png" alt="Dedicated Account Team"></p>
                          </div>
                          <div class="col-12">
                          <h6 class="text-center">Stripe Payment Services</h6>
                          </div>
                          </div>
                          </div>
                          </div>

                      </div>
                  </div>
                  </div>
                    </div>
                  </div>
                      </div>
                  </div>
              </section>

              <br>

              <section class="py-5">
                <div class="container">
                <div class="card shadow bg-white text-secondary">
                <div class="card-body">

                  <div class="container">
                    <div class="row">
                    <div class="col-10 offset-1">
                    <h1 class="text-center">Get in touch today</h1><br>
                    <div class="row  justify-content-center feature-container">

                      <iframe class="map rounded" title="map" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.0407289620584!2d73.15625541312536!3d19.237056651893294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7943d5f3dc2e7%3A0x1d3fe85198bfe917!2zU0FUTkFNIOKAmEjigJkgQVBBUlRNRU5U!5e0!3m2!1sen!2sin!4v1615646351994!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <p></p><p></p>
                    <div class="row  justify-content-center feature-container">

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row center-block">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Visit us</h2>
                            <span>
                                Subrains,
                                <br>Hyderabad,
                                <br>Hyderabad-500076
                            </span>
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-phone-volume"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Call</h2>
                            <a href="tel:+91 9320907041">+91 999999999</a>
                            <div class="text-small text-gray">
                                Mon - Sat, 7am - 11pm
                            </div>
                        </div>
                        </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="container">
                        <div class="row align-items-center">
                          <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="far fa-paper-plane"></span>
                            </div>
                            <h2 class="h5 icon-box-title">Email</h2>
                            <a href="mailto:care@subrains.com">care@subrains.com</a>
                        </div>
                        </div>
                        </div>
                      </div>                       
                        
                                    </div>       
                        </div>
                    </div>
            </div>      
                    </div>
                </div>
                    </div>
                  </div>
                </div>
                
    </div>
</div>
              </section>
{% endblock %}