<!DOCTYPE html>
<html lang="en">
<head>
<title>MyProctor.ai</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='volt/assets/img/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='volt/assets/img/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"  href="{{ url_for('static', filename='volt/assets/img/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='volt/assets/img/favicon/site.webmanifest') }}">

<!-- Fontawesome -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='volt/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">

<!-- Volt CSS -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='volt/css/volt.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

<!--Lottie Js-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% block head %}{% endblock %}

<style>
  .sidebar{
    position: fixed;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    width: 275px;
    z-index: 1;
  }
  .content{
    padding: 10px;
    padding-left:285px;
  }
</style>
  </head>
  <body>
        <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
            <a class="navbar-brand me-lg-5" href="/professor_index">
              <center><lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wEt2nn.json"  background="transparent"  speed="1"  style="width: 75px; height: 50px;"  loop  autoplay></lottie-player></center>
            </a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        
        <nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white flex-md-column flex-row collapse" data-simplebar>
          <div class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
              <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar me-4">
                  <img src="{{ url_for('static', filename='user-profile.png') }}" class="card-img-top rounded-circle border-white"
                    alt="Bonnie Green">
                </div>
                <div class="d-block">
                  <h2 class="h6">{{session.name}}</h2>
                  <a href ="#" onclick="return funLogout()"class="btn btn-secondary text-dark btn-xs"><span
                      class="me-2"><span class="fas fa-sign-out-alt"></span></span>Logout</a>
                </div>
              </div>
              <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse" data-target="#sidebarMenu"
                  aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
              </div>
            </div>

        <ul class="nav flex-column pt-3 pt-md-0">
          <li class="nav-item">
            <span
              class="nav-link  collapsed  d-flex justify-content-between align-items-center"
              data-toggle="collapse" data-target="#submenu-components">
              <span>
                <span class="sidebar-icon"><span class="fas fa-plus"></span></span>
                <span class="sidebar-text">Create Exam</span>
              </span>
              <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
            </span>
            <div class="multi-level collapse " role="list"
              id="submenu-components" aria-expanded="false">
              <ul class="flex-column nav">
                <li class="nav-item">
                  <a class="nav-link" href="/create-test">
                    <span class="sidebar-text">Objective</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/create_test_lqa">
                    <span class="sidebar-text">Subjective</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/create_test_pqa">
                    <span class="sidebar-text">Practical</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="/generate_test" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-magic"></span></span>
              <span class="sidebar-text">Generate Questions</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/viewquestions" class="nav-link d-flex justify-content-between">
              <span>
                <span class="sidebar-icon"><span class="fas fa-eye"></span></span>
                <span class="sidebar-text">View Questions </span>
              </span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/updatetidlist" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-edit"></span></span>
              <span class="sidebar-text">Update Questions</span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/deltidlist" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-trash-alt"></span></span>
              <span class="sidebar-text">Delete Questions</span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/{{session.email}}/disptests" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-history"></span></span>
              <span class="sidebar-text">Exam History</span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/livemonitoringtid" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-video"></span></span>
              <span class="sidebar-text">Live Monitoring</span>
            </a>
          </li> 
          <li class="nav-item ">
            <a href="/viewstudentslogs" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-binoculars"></span></span>
              <span class="sidebar-text">Student Monitoring</span>
            </a>
          </li>          
          <li class="nav-item ">
            <a href="/insertmarkstid" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-spell-check"></span></span>
              <span class="sidebar-text">Insert Marks</span>
            </a>
          </li>  
          <li class="nav-item">
            <li class="nav-item">
              <a href="/publish-results-testid" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-clipboard-check"></span></span>
                <span class="sidebar-text">Publish Results</span>
              </a>
            </li> 
            <a href="/{{session.email}}/tests-created" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-poll"></span></span>
              <span class="sidebar-text">Results</span>
            </a>
          </li>  
          <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
          <li class="nav-item ">
            <a href="/report_professor" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-bug"></span></span>
              <span class="sidebar-text">Report Problems</span>
            </a>
          </li>
          <li class="nav-item ">
            <a href="/payment" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-money-bill-alt"></span></span>
              <span class="sidebar-text">Payment</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/changepassword_professor" class="nav-link d-flex align-items-center">
              <span class="sidebar-icon"><span class="fas fa-key"></span></span>
              <span class="sidebar-text">Change Password</span>
            </a>
          </li>
          <li class="nav-item">
            <a href ="#" onclick="return funLogout()"
              class="btn btn-secondary d-flex align-items-center justify-content-center">
              <span class="sidebar-icon"><span class="fas fa-sign-out-alt"></span></span> <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main class="content">
      <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
<div class="container-fluid px-0">
<div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
  <div class="h-100 row align-items-center">
              {% include 'includes/_messages.html' %}
              {% block body %}{% endblock %}
      
              <footer id="sticky-footer" class="py-4 mx-auto">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                              <p class="font-weight-bold font-medium mb-0">Copyright © MyProctor.ai
                                  <span class="current-year"><script>document.write(new Date().getFullYear())</script>
                                  </span>. All rights reserved.</p>
                </div><br>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                      <p class="font-weight-bold font-small mb-0"><span><a href="/">Made with &#128151 By Subrains</a></span></p>
              </div>
              </footer>
  </div>
            </div>
         </div>
</nav>
    </main>
 <script>
function funLogout () {

swal.fire({
  title: 'Are you sure?',
  text: "Do you really want to logout?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, Logout me!',
  cancelButtonText: 'No!',
  confirmButtonColor: '#d33',
  cancelButtonColor: '#202124',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
              $.ajax({
                    type: "POST",
                    url: "/logout",
                    success: function(response){
                      if(response=="success")
                      {
                      console.log(response);
    window.location.href = "/";
                      }
}
                });  
      swal.fire(
      'Success!',
      'You are successfully has been sign out from the system.',
      'success'
    )
  } else if (
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swal.fire(
      'Cancelled',
      'Logout cancelled.',
      'error'
    )
  }
})
}

</script> 

 <!-- Core -->
 <script src="{{ url_for('static', filename='volt/vendor/@popperjs/core/dist/umd/popper.min.js') }}"></script>
 <script src="{{ url_for('static', filename='volt/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
 
 <!-- Vendor JS -->
 <script src="{{ url_for('static', filename='volt/vendor/onscreen/dist/on-screen.umd.min.js') }}"></script>
 
 <!-- Slider -->
 <script src="{{ url_for('static', filename='volt/vendor/nouislider/distribute/nouislider.min.js') }}"></script>
 
 <!-- Smooth scroll -->
 <script src="{{ url_for('static', filename='volt/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js') }}"></script>
 
 <!-- Charts -->
 <script src="{{ url_for('static', filename='volt/vendor/chartist/dist/chartist.min.js') }}"></script>
 <script src="{{ url_for('static', filename='volt/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
 
 <!-- Datepicker -->
 <script src="{{ url_for('static', filename='volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script>
 
 <!-- Sweet Alerts 2 -->
 <script src="{{ url_for('static', filename='volt/vendor/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
 
 <!-- Moment JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
 
 <!-- Vanilla JS Datepicker -->
 <script src="{{ url_for('static', filename='volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script>
 
 <!-- Notyf -->
 <script src="{{ url_for('static', filename='volt/vendor/notyf/notyf.min.js') }}"></script>
 
 <!-- Simplebar -->
 <script src="{{ url_for('static', filename='volt/vendor/simplebar/dist/simplebar.min.js') }}"></script>
 
 <!-- Github buttons -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
 
 <!-- Volt JS -->
 <script src="{{ url_for('static', filename='volt/assets/js/volt.js') }}"></script>

</body>
</html>